
*.log
logs/scheduler/latest

dataset_processed_X.csv
dataset_processed_y.csv
df_describe.csv
df_dtypes.csv
importances.csv
output/dt_model.pkl
dags/dataset_prepared.csv
*.pkl
*.png
data/dataset_cleaned.csv
data/dataset_complete.csv
data/dataset_feature_selected.csv
data/dataset_prepared.csv
dags/__pycache__/analysis.cpython-37.pyc
mlruns/0/meta.yaml
dags/__pycache__/analysis.cpython-37.pyc
dags/includes/vs_modules/__pycache__/analysis_functions.cpython-37.pyc
dags/.py
dags/includes/vs_modules/__pycache__/analysis_functions.cpython-37.pyc
dags/includes/vs_modules/__pycache__/analysis_functions.cpython-37.pyc
.vs/ProjectSettings.json
.vs/SDG-Case-Study/FileContentIndex/61500d3f-6e8f-46f2-8e83-8b9d333b3afd.vsidx
.vs/SDG-Case-Study/FileContentIndex/9df056e5-4f30-4a17-8175-047e4e76efde.vsidx
.vs/SDG-Case-Study/FileContentIndex/read.lock
.vs/slnx.sqlite
.vs/SDG-Case-Study/FileContentIndex/9a678f6d-6320-427b-a366-0d894d41b1a8.vsidx
dags/__pycache__/analysis.cpython-37.pyc
.vs/SDG-Case-Study/FileContentIndex/690700ca-37a4-4e0c-ba2e-faebc78c3527.vsidx
.vs/SDG-Case-Study/FileContentIndex/c0b31045-a10e-461e-802a-e95172f652ab.vsidx
dags/__pycache__/analysis.cpython-37.pyc
dags/__pycache__/analysis.cpython-37.pyc
.vs/SDG-Case-Study/v17/.wsuo
.vs/SDG-Case-Study/FileContentIndex/2ea3a7d1-292f-4107-aa4e-7d9695d9850a.vsidx
.vs/SDG-Case-Study/FileContentIndex/45e912a2-60bb-420c-a6bc-d5b03d37ee13.vsidx
.vs/SDG-Case-Study/FileContentIndex/79c090e8-5789-4e8b-b380-7124612a3627.vsidx
.vs/SDG-Case-Study/FileContentIndex/836b5cd9-c087-42f9-83c0-326f0946286c.vsidx
.vs/SDG-Case-Study/FileContentIndex/0e761b62-15d4-4f61-9daf-61574340fee4.vsidx
dags/__pycache__/analysis.cpython-37.pyc
dags/includes/vs_modules/__pycache__/analysis_functions.cpython-37.pyc
dags/__pycache__/analysis.cpython-37.pyc
dags/includes/vs_modules/__pycache__/analysis_functions.cpython-37.pyc
.vs/SDG-Case-Study/FileContentIndex/33b39abb-2cc4-4ef2-8f01-c1925c44bc34.vsidx
