
*.log
logs/scheduler/latest

dataset_processed_X.csv
dataset_processed_y.csv
df_describe.csv
df_dtypes.csv
importances.csv
output/dt_model.pkl
dags/dataset_prepared.csv
*.pkl
*.png
data/dataset_cleaned.csv
data/dataset_complete.csv
data/dataset_feature_selected.csv
data/dataset_prepared.csv
dags/__pycache__/analysis.cpython-37.pyc
mlruns/0/meta.yaml
dags/__pycache__/analysis.cpython-37.pyc
dags/includes/vs_modules/__pycache__/analysis_functions.cpython-37.pyc
dags/.py
dags/includes/vs_modules/__pycache__/analysis_functions.cpython-37.pyc
dags/includes/vs_modules/__pycache__/analysis_functions.cpython-37.pyc
.vs/ProjectSettings.json
.vs/SDG-Case-Study/FileContentIndex/61500d3f-6e8f-46f2-8e83-8b9d333b3afd.vsidx
.vs/SDG-Case-Study/FileContentIndex/9df056e5-4f30-4a17-8175-047e4e76efde.vsidx
.vs/SDG-Case-Study/FileContentIndex/read.lock
.vs/slnx.sqlite
.vs/SDG-Case-Study/FileContentIndex/9a678f6d-6320-427b-a366-0d894d41b1a8.vsidx
dags/__pycache__/analysis.cpython-37.pyc
.vs/SDG-Case-Study/FileContentIndex/690700ca-37a4-4e0c-ba2e-faebc78c3527.vsidx
.vs/SDG-Case-Study/FileContentIndex/c0b31045-a10e-461e-802a-e95172f652ab.vsidx
